<!DOCTYPE html>
<html>
  <head>
    <title>KittenProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <ul class="flex">
      <li class="mr-6">
        <a class="text-blue-500 hover:text-blue-800" href="#">Active</a>
      </li>
      <li class="mr-6">
        <a class="text-blue-500 hover:text-blue-800" href="#">Link</a>
      </li>
      <%if !user_signed_in? %>
      <li class="mr-6">
          <%=link_to "S'inscrire", new_user_registration_path, class: " me-3"%>
      </li>
      <li class="mr-6">
          <%=link_to "Se connecter", new_user_session_path, class: ""%>
      </li>
        <%else%>
      <li class="mr-6">
          <%= button_to "Se déconnecter", destroy_user_session_path(session[:user_id]), method: :delete,data: {turbo_method: :delete}, class: "logOut" %>      </li>
        <%end%>
      <li class="mr-6">
        <a class="text-gray-400 cursor-not-allowed" href="#">Disabled</a>
      </li>
    </ul>

    <%= yield %>
  </body>
</html>
